---
import Layout from "../layouts/Layout.astro";
import { NameDisplay } from "../components/NameDisplay";

Astro.response.headers.set('Cache-Control', 'no-store, max-age=0');
---

<Layout>
  <Fragment slot="main">
    <h1>Astro</h1>
    <NameDisplay name="Astro" />
  </Fragment>
</Layout>
