---
import Layout from "../layouts/Layout.astro";
import { NameDisplay } from "../components/NameDisplay";
---

<Layout>
  <Fragment slot="main">
    <h1>Astro</h1>
    <NameDisplay name="Astro" />
  </Fragment>
</Layout>
